html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

body {
  line-height: 1
}

ol,
ul {
  list-style: none
}

blockquote,
q {
  quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

@font-face {
  font-family: "Burger Free";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/burgerfree.woff) format(woff), url(../fonts/burgerfree.otf) format(opentype)
}

@font-face {
  font-family: "Friends Zone";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/friendszone.woff) format(woff), url(../fonts/friendszone.otf) format(opentype)
}

*,
*::after,
*::before {
  box-sizing: border-box
}

html,
body {
  font-family: "Burger Free", system-ui;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #000105
}

a {
  text-decoration: none;
  color: inherit
}

button {
  font-family: inherit;
  cursor: pointer
}

img,
video {
  display: block
}

.wrapper {
  overflow: hidden;
  max-width: 100vw;
  min-height: 100vh;
  position: relative
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
  padding: 0 10px
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: -moz-max-content;
  width: max-content;
  background: #fae190;
  border: 3px solid #101228;
  font-family: "Burger Free", system-ui;
  font-size: 24px;
  padding: 22px 40px;
  box-shadow: 4px 9px 0px #101228;
  text-decoration: none;
  border-radius: 999px;
  height: 74px;
  transition: background 100ms ease-in-out;
  color: #101228;
  flex-shrink: 0
  
}

.cex__item .btn {
  height: 120px;
  transition: background 100ms ease-in-out;

}

@media screen and (max-width: 1023.98px) {
  .btn {
    font-size: 18px;
    padding: 16px 28px;
    height: 56px;
    box-shadow: 3px 6px 0px #101228
  }
  
    .cex__item .btn {
    font-size: 18px;
    padding: 16px 28px;
    height: 120px;
    box-shadow: 3px 6px 0px #101228
  }
  
}

.btn:hover {
  background: #ffb580
}

.cex__item .btn:hover {
  background: #174ff9;
}

.btn_icon {
  width: 74px;
  padding: 0
}

.cex__item .btn_icon {

  width: 120px;
  padding: 0
}

@media screen and (max-width: 1023.98px) {
  .btn_icon {
    width: 56px
  }

  .btn_icon svg,
  .btn_icon img {
    max-width: 32px
  }
  
  .cex__item .btn_icon {
	 width: 120px 
  }
  
   .cex__item .btn_icon svg,
  .btn_icon img {
    max-width: 75px
  }
}

h2 {
  font-size: 128px;
  color: #174ff9;
  text-shadow: #101228 7px 0px 0px, #101228 6.92869px .996602px 0px, #101228 6.71622px 1.9729px 0px, #101228 6.36692px 2.909px 0px, #101228 5.8879px 3.78584px 0px, #101228 5.28893px 4.58555px 0px, #101228 4.5822px 5.29183px 0px, #101228 3.78212px 5.8903px 0px, #101228 2.90498px 6.36876px 0px, #101228 1.96865px 6.71747px 0px, #101228 .992221px 6.92932px 0px, #101228 -0.00442571px 7px 0px, #101228 -1.00098px 6.92806px 0px, #101228 -1.97715px 6.71498px 0px, #101228 -2.91303px 6.36508px 0px, #101228 -3.78956px 5.88551px 0px, #101228 -4.58889px 5.28603px 0px, #101228 -5.29472px 4.57885px 0px, #101228 -5.89269px 3.77839px 0px, #101228 -6.3706px 2.90095px 0px, #101228 -6.71871px 1.96441px 0px, #101228 -6.92995px .98784px 0px, #101228 -6.99999px -0.00885142px 0px, #101228 -6.92743px -1.00536px 0px, #101228 -6.71372px -1.98139px 0px, #101228 -6.36324px -2.91705px 0px, #101228 -5.88311px -3.79328px 0px, #101228 -5.28313px -4.59223px 0px, #101228 -4.57551px -5.29762px 0px, #101228 -3.77466px -5.89507px 0px, #101228 -2.89692px -6.37243px 0px, #101228 -1.96016px -6.71995px 0px, #101228 -0.983458px -6.93057px 0px, #101228 .0132771px -6.99999px 0px, #101228 1.00974px -6.92679px 0px, #101228 1.98564px -6.71247px 0px, #101228 2.92107px -6.36139px 0px, #101228 3.797px -5.88071px 0px, #101228 4.59557px -5.28022px 0px, #101228 5.30051px -4.57215px 0px, #101228 5.89746px -3.77094px 0px, #101228 6.37426px -2.89289px 0px, #101228 6.72119px -1.95591px 0px, #101228 6.93119px -0.979076px 0px, #101228 4.68359px 17.5635px 0px
}

@media screen and (max-width: 640px) {
  h2 {
    font-size: 100px
  }
}

.header {
  position: absolute;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  padding: 50px 0
}

@media screen and (max-width: 1023.98px) {
  .header {
    padding: 25px 0
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px
}

@media screen and (max-width: 1023.98px) {
  .header__container {
    gap: 10px
  }
}

.header__logo_icon {
  display: none
}

.header__logo img {
  height: 74px
}

@media screen and (max-width: 1100px) {
  .header__logo {
    margin-right: auto
  }
}

@media screen and (max-width: 1023.98px) {
  .header__logo img {
    height: 56px
  }
}

@media screen and (max-width: 480px) {
  .header__logo_full {
    display: none
  }

  .header__logo_icon {
    display: block
  }
}

.header__nav {
  display: flex;
  background: #fff;
  border: 3px solid #101228;
  box-shadow: 4px 9px 0px #101228;
  color: #101228;
  border-radius: 999px;
  overflow: hidden;
  font-size: 24px
}

.header__nav a {
  padding: 22px 24px;
  transition: background 100ms ease-in-out
}

.header__nav a:hover {
  background: #edeef8
}

.header__nav a:first-child {
  padding-left: 40px
}

.header__nav a:last-child {
  padding-right: 40px
}

@media screen and (max-width: 1100px) {
  .header__nav {
    position: absolute;
    z-index: 888;
    right: 315px;
    top: 69px;
    display: flex;
    flex-direction: column;
    border-radius: 37px;
    text-align: center;
    transform: translateY(-150%);
    transition: transform 300ms ease-in-out
  }

  .header__nav a {
    padding: 22px !important
  }
}

@media screen and (max-width: 1023.98px) {
  .header__nav {
    top: 25px;
    font-size: 18px;
    border-radius: 28px;
    right: 228px
  }

  .header__nav a {
    padding: 16px !important
  }
}

@media screen and (max-width: 640px) {
  .header__nav {
    top: 69px;
    right: 10px
  }
}

.header__burger {
  display: none
}

@media screen and (max-width: 1100px) {
  .header__burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 74px;
    padding: 0;
    gap: 5px
  }

  .header__burger span {
    width: 38px;
    height: 6px;
    background: currentColor;
    border-radius: 99px
  }
}

@media screen and (max-width: 1023.98px) {
  .header__burger {
    width: 56px;
    gap: 4px
  }

  .header__burger span {
    width: 24px;
    height: 4px
  }
}

@media screen and (max-width: 1100px) {
  .header_open .header__nav {
    transform: translateY(0)
  }

  .header_open .header__burger span {
    transition: transform 300ms ease-in-out;
    position: absolute
  }

  .header_open .header__burger span:nth-child(1) {
    transform: rotate(45deg)
  }

  .header_open .header__burger span:nth-child(2) {
    transform: rotate(-45deg)
  }

  .header_open .header__burger span:nth-child(3) {
    display: none
  }
}

.hero {
	background: url(../img/hero-background_turbo.png) bottom center no-repeat;
	padding: 200px 0 300px 0;
	position: relative;
	background-size: cover;
}

@media screen and (max-width: 1023.98px) {
  .hero {
    padding: 106px 0 250px 0
  }
}

@media screen and (max-width: 640px) {
  .hero {
    padding: 106px 0 200px 0
  }
}

.hero__container {
    display: flex;
    gap: 30px 10px;
    align-items: stretch;
    max-width: 1280px;
    /* position: relative; */
    justify-content: space-around;
    /*flex-wrap: wrap;*/
    align-content: center;
    flex-flow: row wrap;
}

@media screen and (max-width: 1023.98px) {
  .hero__container {
    flex-direction: column;
    gap: 20px
  }
}

.hero__illustration {
    width: 100%;
    /* display: flex; */
    min-width: 0;
    margin: auto;
}

@media screen and (max-width: 1023.98px) {
  .hero__illustration {
    max-width: 480px;
    width: 100%
  }
}

.hero__col {
    /* display: flex; */
    margin: auto;
    width: 48%;
    text-align: center;
}

@media screen and (max-width: 1023.98px) {
  .hero__col {
    max-width: 640px;
    width: 100%
  }
}

.hero__title {
  font-size: 184px;
  color: #174ff9;
  text-shadow: #101228 7px 0px 0px, #101228 6.92869px .996602px 0px, #101228 6.71622px 1.9729px 0px, #101228 6.36692px 2.909px 0px, #101228 5.8879px 3.78584px 0px, #101228 5.28893px 4.58555px 0px, #101228 4.5822px 5.29183px 0px, #101228 3.78212px 5.8903px 0px, #101228 2.90498px 6.36876px 0px, #101228 1.96865px 6.71747px 0px, #101228 .992221px 6.92932px 0px, #101228 -0.00442571px 7px 0px, #101228 -1.00098px 6.92806px 0px, #101228 -1.97715px 6.71498px 0px, #101228 -2.91303px 6.36508px 0px, #101228 -3.78956px 5.88551px 0px, #101228 -4.58889px 5.28603px 0px, #101228 -5.29472px 4.57885px 0px, #101228 -5.89269px 3.77839px 0px, #101228 -6.3706px 2.90095px 0px, #101228 -6.71871px 1.96441px 0px, #101228 -6.92995px .98784px 0px, #101228 -6.99999px -0.00885142px 0px, #101228 -6.92743px -1.00536px 0px, #101228 -6.71372px -1.98139px 0px, #101228 -6.36324px -2.91705px 0px, #101228 -5.88311px -3.79328px 0px, #101228 -5.28313px -4.59223px 0px, #101228 -4.57551px -5.29762px 0px, #101228 -3.77466px -5.89507px 0px, #101228 -2.89692px -6.37243px 0px, #101228 -1.96016px -6.71995px 0px, #101228 -0.983458px -6.93057px 0px, #101228 .0132771px -6.99999px 0px, #101228 1.00974px -6.92679px 0px, #101228 1.98564px -6.71247px 0px, #101228 2.92107px -6.36139px 0px, #101228 3.797px -5.88071px 0px, #101228 4.59557px -5.28022px 0px, #101228 5.30051px -4.57215px 0px, #101228 5.89746px -3.77094px 0px, #101228 6.37426px -2.89289px 0px, #101228 6.72119px -1.95591px 0px, #101228 6.93119px -0.979076px 0px, #101228 4.68359px 17.5635px 0px
}

@media screen and (max-width: 540px) {
  .hero__title {
    font-size: 35vw
  }
}

.hero__text {
  margin: 24px;
  font-family: "Friends Zone";
  font-size: 24px;
  color: #101228;
  font-weight: 400;
  line-height: 1.33
}

@media screen and (max-width: 640px) {
  .hero__text {
    font-size: 20px
  }
}

.hero__socials {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center
}

.hero__social-btn {
  background: #fae190
}

.hero__social-btn:hover {
  background: #ffdb80
}

.hero__scroll {
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 20px;
  gap: 12px
}

.cex__social-btn {
  background: #fae190
}

.cex__social-btn:hover {
  background: #ffdb80
}

@media screen and (max-width: 640px) {
  .hero__scroll {
    font-size: 18px;
    gap: 8px
  }

  .hero__scroll img {
    max-width: 32px
  }

  .hero__scroll img:last-child {
    max-width: 20px
  }
}

.about {
  padding: 100px 80px 50px 80px;
  position: relative
}

.about__left {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1
}

.about__right {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  max-width: 90vw
}

.about__container {
  display: flex;
  align-items: center;
  gap: 100px
}

@media screen and (max-width: 1280px) {
  .about__container {
    gap: 50px
  }
}

@media screen and (max-width: 1023.98px) {
  .about__container {
    flex-direction: column;
    align-items: center
  }
}

@media screen and (max-width: 640px) {
  .about__container {
    gap: 20px
  }
}

@media screen and (max-width: 1023.98px) {
  .about__col {
    max-width: 640px
  }
}

.about__title {
  margin-bottom: 48px;
  width: -moz-max-content;
  width: max-content;
  position: relative
}

.about__title img {
  position: absolute
}

.about__title img:first-child {
  right: 105%;
  top: 70%
}

.about__title img:last-child {
  left: 105%;
  top: -30%
}

@media screen and (max-width: 1023.98px) {
  .about__title {
    margin: 0 auto;
    margin-bottom: 32px
  }

  .about__title img:first-child {
    top: 30%
  }
}

@media screen and (max-width: 640px) {
  .about__title {
    margin-bottom: 20px
  }
}

.about__text {
  font-size: 24px;
  line-height: 1.4
  color: #989898;
}

@media screen and (max-width: 640px) {
  .about__text {
    font-size: 20px
  }
}

.about__illustration {
  width: 44%;
  border-radius: 16px
}

@media screen and (max-width: 1023.98px) {
  .about__illustration {
    max-width: 640px;
    width: 100%
  }
}

.tokenomics {
  padding: 50px 0;
  position: relative
}

.tokenomics__left {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1
}

.tokenomics__inner {
  background: url(../img/tokenomics-background-turbo.png) left top no-repeat, #315aff;
  background-size: contain;
  border: 6px solid #101228;
  border-radius: 36px;
  display: flex;
  padding: 60px;
  align-items: center
}

@media screen and (max-width: 800px) {
  .tokenomics__inner {
    background-size: cover
  }
}

@media screen and (max-width: 640px) {
  .tokenomics__inner {
    padding: 60px 20px
  }
}

.tokenomics__col {
  padding: 20px 20px 20px 0px;
  width: 66%
}

@media screen and (max-width: 1280px) {
  .tokenomics__col {
    width: 100%;
    padding: 0
  }
}

.tokenomics__title {
  font-size: 100px;
  color: #174ff9;
  margin-bottom: 60px
}

@media screen and (max-width: 800px) {
  .tokenomics__title {
    font-size: 12.5vw;
    text-align: center;
    text-shadow: #101228 5px 0px 0px, #101228 4.90033px .993347px 0px, #101228 4.60531px 1.94709px 0px, #101228 4.12668px 2.82321px 0px, #101228 3.48353px 3.58678px 0px, #101228 2.70151px 4.20736px 0px, #101228 1.81179px 4.6602px 0px, #101228 .849836px 4.92725px 0px, #101228 -0.145998px 4.99787px 0px, #101228 -1.13601px 4.86924px 0px, #101228 -2.08073px 4.54649px 0px, #101228 -2.94251px 4.04248px 0px, #101228 -3.68697px 3.37732px 0px, #101228 -4.28444px 2.57751px 0px, #101228 -4.71111px 1.67494px 0px, #101228 -4.94996px .7056px 0px, #101228 -4.99147px -0.291871px 0px, #101228 -4.83399px -1.27771px 0px, #101228 -4.48379px -2.2126px 0px, #101228 -3.95484px -3.05929px 0px, #101228 -3.26822px -3.78401px 0px, #101228 -2.4513px -4.35788px 0px, #101228 -1.53666px -4.75801px 0px, #101228 -0.560763px -4.96845px 0px, #101228 .437495px -4.98082px 0px, #101228 1.41831px -4.79462px 0px, #101228 2.34258px -4.41727px 0px, #101228 3.17346px -3.86382px 0px, #101228 3.87783px -3.15633px 0px, #101228 4.4276px -2.32301px 0px, #101228 4.80085px -1.39708px 0px, #101228 4.98271px -0.415447px 0px, #101228 4.68359px 8.5635px 0px
  }
}

.tokenomics__row {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  margin-bottom: 20px;
  flex-wrap: wrap
}

@media screen and (max-width: 640px) {
  .tokenomics__row {
    justify-content: center
  }
}

.tokenomics__item {
  background: #fff;
  border-radius: 24px;
  border: 5px solid #101228;
  padding: 24px 28px;
  box-shadow: 4px 6px 0px #101228
}

.tokenomics__item span {
  font-family: "Friends Zone";
  margin-bottom: 10px;
  display: block
}

.tokenomics__item strong {
  font-size: 32px;
  display: block
}

.tokenomics__illustration {
  width: 44%;
  transform: rotate(-3.3deg);
 /* border: 6px solid #101228;
  box-shadow: 4px 10px 0px #101228;
  border-radius: 42px*/
}

@media screen and (max-width: 1280px) {
  .tokenomics__illustration {
    display: none
  }
}

.contract {
  background: #fff;
  box-shadow: 4px 9px 0px #101228;
  position: relative;
  height: 74px;
  border-radius: 38px;
  padding: 10px 24px;
  font-size: 24px;
  display: flex;
  align-items: center
}

@media screen and (max-width: 640px) {
  .contract {
    font-size: 20px;
    padding: 16px;
    height: auto
  }
}

.contract__contract {
  width: calc(100% - 130px);
  word-break: break-all
}

@media screen and (max-width: 1023.98px) {
  .contract__contract {
    width: calc(100% - 100px)
  }
}

.contract__btn {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-radius: 38px
}

.buy {
  padding: 50px 0;
  position: relative
}

.cex {
  padding: 50px 0;
  position: relative;
  background: url(../img/tokenomics-background-turbo.png) left top no-repeat, #315aff;
  background-size: cover;
}



.buy__left {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  width: 500px
}

.buy__right {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 500px
}

.buy__title {
  margin-bottom: 32px;
  text-align: center
}

.cex__title {
  margin-bottom: 32px;
  text-align: center
}

@media screen and (max-width: 640px) {
  .buy__title {
    font-size: 80px
  }
}

.buy__items {
  display: grid;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px
}

.buy__item {
  width: calc(50% - 10px);
  border: 6px solid #101228;
  box-shadow: 4px 17px 0px #101228;
  padding: 32px;
  border-radius: 32px;
  background: #fff;
  display: flex;
  margin-bottom: 17px
}

.cex__items {
  display: grid;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px 40px
}

.cex__item {
  width: calc(24% - 10px);
 /* border: 6px solid #101228;
  box-shadow: 4px 17px 0px #101228;*/
  padding: 10px;
  border-radius: 32px;
  /* background: #fff;*/
  display: flex;
  margin-bottom: 17px;
  justify-content: center;
}

@media screen and (max-width: 1023.98px) {
  .buy__item {
    width: 100%;
    max-width: 640px
  }
}

@media screen and (max-width: 640px) {
  .buy__item {
    padding: 24px 16px;
    border-radius: 24px
  }
}

.buy__number {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 64px;
  background: #174ff9;
  border: 6px solid #101228;
  border-radius: 20px;
  box-shadow: 3px 7px 0px #101228;
  transform: rotate(2.5deg);
  margin-right: 24px
}

@media screen and (max-width: 640px) {
  .buy__number {
    width: 60px;
    height: 60px;
    font-size: 48px;
    border-width: 4px;
    margin-right: 16px
  }
}

.buy__text {
  font-family: "Friends Zone";
  font-size: 24px;
  line-height: 1.4
}

@media screen and (max-width: 640px) {
  .buy__text {
    font-size: 20px
  }
}

.footer {
  padding: 50px 0;
   background: url(../img/tokenomics-background-turbo.png) left top repeat, #315aff; 
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px
}

@media screen and (max-width: 1023.98px) {
  .footer__container {
    flex-direction: column
  }
}

.footer__logo img {
  height: 70px
}

.footer__disclaimer {
  width: 33%;
  font-size: 16px;
  line-height: 1.2;
  color: #2f2f2f;
  font-family: "Friends Zone"
}

@media screen and (max-width: 1023.98px) {
  .footer__disclaimer {
    max-width: 480px;
    width: 100%;
    text-align: center
  }
}

.footer__socials {
  display: flex;
  gap: 10px
}

.footer__social-btn {
  
}

.footer__social-btn:hover {
  background: #6586e9
}

.footer__btn {
 
}

a.footer__btn:hover {
  background: #6586e9;
}

/*# sourceMappingURL=main.css.map */